:root {
    // text-colors
    --text-color: #49557e;
    --tomato-color: tomato;
    // font-size
    --font-size-16: 16px;
    --font-size-18: 18px;
    // font-family
    --font-outfit: 'Outfit', sans-serif;
    // :hover
    --text-hover: #949494;
    --btn-hover: #fff4f2;
}