.header {
    height: 34vw;
    margin: 30px auto;
    background: url('../../../../public/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}

.header_contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    min-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header_content_title {
    width: 70%;
    color: var(--white);
    font-size: max(5vw, 22px);
    font-weight: 500;
}

.header_content_text {
    color: var(--white);
    font-size: 1vw;
}

.header_btn {
    width: 200px;
    color: var(--btn-color);
    padding: 1vw 13px;
    border: none;
    border-radius: 50px;
    font-size: max(1vw, 13px);
    font-weight: 500;
    background: var(--white);
}