@import './breakpoints';

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav_logo {
    width: 150px;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 20px;

    @include tablet_xl {
        display: none;
    }
}

.nav_menu li {
    color: var(--text-color);
    transition: ease .3s;
}

.nav_menu li:hover {
    color: var(--text-hover);
}

.nav_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.search_icon {
    width: var(--img-30-20);
}


.nav_basket_icon {
    position: relative;
}

.basket_icon {
    width: var(--img-30-20);
}

.dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background: var(--tomato-color);
    border-radius: 50%;
    top: -8px;
    right: -8px;
}

.sign_in {
    color: var(--text-color);
    border: 1px solid var(--tomato-color);
    border-radius: 50px;
    padding: 10px 30px;
    font-size: var(--font-size-16);
    background: transparent;
    transition: .3s ease;
}

.sign_in:hover {
    background: var(--btn-hover);
}